{% extends "getdata/base_index.html" %}
{% block form_content %}
<form action="{% url 'results' %}" method="post">
    {% csrf_token %}
    <table class="table">
        <tr>
            {% if portal_list %}
            <th>
                <label class="form-label">Портал: </label>
            </th>
            <td>
                <select name="portal" class="form-select">
                    <option value="no_select">----Выберите портал----</option>
                    {% for portal in portal_list %}
                        <option value="{{portal.id}}">
                            {{portal.url}}
                        </option>
                    {% endfor %}
                </select>
            </td>
            {% else %}
            <td colspan="2"><span>Не заполнен список порталов</span></td>
            {% endif %}
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>
{% if num_saved_portals > 1 %}
<div class="row">
    <div class="col m-3">
            <a class="btn btn-primary" href="{% url 'sputnik_results'%}" role="button">Последние данные по Спутникам</a>
    </div>
</div>
{% endif %}
{% endblock %}
{% block back %}
{% endblock %}
{% block description %}
PageSpeed Insights API (PSI) позволяет получать отчеты о скорости загрузки страниц на мобильных устройствах и компьютерах.
PSI предоставляет как данные о том, насколько быстро страница загружалась у настоящих пользователей.
После того как вы даете PSI задание проанализировать страницу по определенному URL, выполняется поиск сведений о ней в отчете об удобстве 
пользования браузером Chrome. В отчет PSI включаются доступные данные по показателям первой отрисовки контента (FCP) и первой задержки ввода (FID) 
для всего источника или конкретной страницы с указанным URL.
Данные о фактической скорости загрузки в PSI обновляются ежедневно и охватывают последние 30 дней. 
<a href="https://developers.google.com/speed/docs/insights/v5/about?hl=ru">Источник</a>
{% endblock %}